body{
    background-color:rgb(24, 29, 77) ;
    color: white;
    font-weight: bolder;
    margin-left: 2rem;
}

#button{
    background-color: black;
    color:white;
    font-size: 18px;
    padding: 5px;
}